body {
  font-family: "Lemonada", cursive;
  background-color: lightsalmon;
}
.icon-size {
  font-size: 2rem;
}

.alert-width {
  max-width: 80%;
}

form {
  border: 1px solid maroon;
  padding: 1.7rem;
  margin-top: 1.5rem;
  border-radius: 1.2rem;
}

label {
  color: brown;
}

.card {
  background-color: cornflowerblue;
}

.pin {
  font-size: 2.5rem;
  margin-top: -3rem;
  margin-right: -2rem;
  color: purple;
}
